html body {
    margin: 0;
}
body {
    background-color: #f0f0f0;
}

div.container {
    width:1280px;
    margin:16px auto;
}
div.container canvas {
    background: #000;
}
div.container.box .controls {
    padding:16px;
}
div.container.box {
    background-color: #fafafa;
    border:1px solid #cfcfcf;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 1px 2px 0px rgba(204,204,204,1);
box-shadow: 0px 1px 2px 0px rgba(204,204,204,1);
}

.controls button {
    background-color: #fafafa;
    padding: 6px 12px;
    border:1px solid #cfcfcf;
    border-radius: 3px;
}